Ex1
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
appl = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/aapl.csv')
appl.loc[:,'com_name'] = 'appl'
appl.head()

         date       high        low       open      close       volume com_name
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0     appl
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0     appl
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0     appl
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0     appl
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0     appl

In [5]:
amzn = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/amzn.csv')
amzn.loc[:, 'com_name'] = 'amzn'
amzn.head()

         date         high          low  ...        close   volume  com_name
0  2018-01-02  1190.000000  1170.510010  ...  1189.010010  2694500      amzn
1  2018-01-03  1205.489990  1188.300049  ...  1204.199951  3108800      amzn
2  2018-01-04  1215.869995  1204.660034  ...  1209.589966  3022100      amzn
3  2018-01-05  1229.140015  1210.000000  ...  1229.140015  3544700      amzn
4  2018-01-08  1253.079956  1232.030029  ...  1246.869995  4279500      amzn

[5 rows x 7 columns]

In [6]:
fb = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/fb.csv')
fb.loc[:, 'com_name'] = 'fb'
fb.head()

         date        high         low  ...       close    volume  com_name
0  2018-01-02  181.580002  177.550003  ...  181.419998  18151900        fb
1  2018-01-03  184.779999  181.330002  ...  184.669998  16886600        fb
2  2018-01-04  186.210007  184.100006  ...  184.330002  13880900        fb
3  2018-01-05  186.899994  184.929993  ...  186.850006  13574500        fb
4  2018-01-08  188.899994  186.330002  ...  188.279999  17994700        fb

[5 rows x 7 columns]

In [7]:
gg = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/goog.csv')
gg.loc[:, 'com_name'] = 'gg'
gg.head()

         date         high          low  ...        close   volume  com_name
0  2018-01-02  1066.939941  1045.229980  ...  1065.000000  1237600        gg
1  2018-01-03  1086.290039  1063.209961  ...  1082.479980  1430200        gg
2  2018-01-04  1093.569946  1084.001953  ...  1086.400024  1004600        gg
3  2018-01-05  1104.250000  1092.000000  ...  1102.229980  1279100        gg
4  2018-01-08  1111.270020  1101.619995  ...  1106.939941  1047600        gg

[5 rows x 7 columns]

In [8]:
nflx = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/nflx.csv')
nflx.loc[:, 'com_name'] = 'nflx'
nflx.head()

         date        high         low  ...       close    volume  com_name
0  2018-01-02  201.649994  195.419998  ...  201.070007  10966900      nflx
1  2018-01-03  206.210007  201.500000  ...  205.050003   8591400      nflx
2  2018-01-04  207.050003  204.000000  ...  205.630005   6029600      nflx
3  2018-01-05  210.020004  205.589996  ...  209.990005   7033200      nflx
4  2018-01-08  212.500000  208.440002  ...  212.050003   5580200      nflx

[5 rows x 7 columns]

In [9]:
dt = pd.concat([appl, amzn, fb,gg, nflx])
dt.head()

         date       high        low       open      close       volume com_name
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0     appl
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0     appl
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0     appl
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0     appl
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0     appl

In [10]:
dt.tail()

           date        high         low  ...       close      volume  com_name
246  2018-12-24  250.649994  233.679993  ...  233.880005   9547600.0      nflx
247  2018-12-26  254.500000  231.229996  ...  253.669998  14402700.0      nflx
248  2018-12-27  255.589996  240.100006  ...  255.570007  12235200.0      nflx
249  2018-12-28  261.910004  249.800003  ...  256.079987  10992800.0      nflx
250  2018-12-31  270.100006  260.000000  ...  267.660004  13508900.0      nflx

[5 rows x 7 columns]

In [11]:
dt.sample(n=3)

           date         high          low  ...        close      volume  com_name
59   2018-03-28  1024.229980   980.640015  ...  1004.559998   3369300.0        gg
44   2018-03-07  1545.900024  1522.510010  ...  1545.000000   4174100.0      amzn
133  2018-07-13    47.959999    47.724998  ...    47.832500  50055600.0      appl

[3 rows x 7 columns]

In [14]:
# data = dt.to_csv('/content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization/Week4-Pandas/data.csv')

In [17]:
df = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization/Week4-Pandas/data.csv')
# del df['Unnamed: 0']
df.head()

         date       high        low       open      close       volume com_name
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0     appl
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0     appl
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0     appl
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0     appl
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0     appl

In [18]:
#d date column => datetimes, volume => int, sort by date and ticker
df.loc[:, 'date'] = pd.to_datetime(df.loc[:,'date'])

In [19]:
df.dtypes

date        datetime64[ns]
high               float64
low                float64
open               float64
close              float64
volume             float64
com_name            object
dtype: object

In [20]:
df['volume']= df['volume'].astype('int')

In [21]:
df.dtypes

date        datetime64[ns]
high               float64
low                float64
open               float64
close              float64
volume               int64
com_name            object
dtype: object

In [22]:
df.sort_values(by=['date','com_name'])

           date         high          low  ...        close     volume  com_name
251  2018-01-02  1190.000000  1170.510010  ...  1189.010010    2694500      amzn
0    2018-01-02    43.075001    42.314999  ...    43.064999  102223600      appl
502  2018-01-02   181.580002   177.550003  ...   181.419998   18151900        fb
753  2018-01-02  1066.939941  1045.229980  ...  1065.000000    1237600        gg
1004 2018-01-02   201.649994   195.419998  ...   201.070007   10966900      nflx
...         ...          ...          ...  ...          ...        ...       ...
501  2018-12-31  1520.760010  1487.000000  ...  1501.969971    6954500      amzn
250  2018-12-31    39.840000    39.119999  ...    39.435001  140014000      appl
752  2018-12-31   134.639999   129.949997  ...   131.089996   24625300        fb
1003 2018-12-31  1052.699951  1023.590027  ...  1035.609985    1493300        gg
1254 2018-12-31   270.100006   260.000000  ...   267.660004   13508900      nflx

[1255 rows x 7 columns]

In [23]:
# lowest value for volume
df.sort_values(by=['volume']).head(n=7)

          date         high          low  ...        close  volume  com_name
879 2018-07-03  1135.819946  1100.020020  ...  1102.890015  679000        gg
979 2018-11-23  1037.589966  1022.398987  ...  1023.880005  691500        gg
852 2018-05-24  1080.469971  1066.150024  ...  1079.239990  766800        gg
883 2018-07-10  1159.589966  1149.589966  ...  1152.839966  798400        gg
905 2018-08-09  1255.541992  1246.010010  ...  1249.099976  848600        gg
912 2018-08-20  1211.000000  1194.625977  ...  1207.770020  870800        gg
914 2018-08-22  1211.839966  1199.000000  ...  1207.329956  887400        gg

[7 rows x 7 columns]

In [24]:
df.sort_values(by=['volume'])

          date         high          low  ...        close     volume  com_name
879 2018-07-03  1135.819946  1100.020020  ...  1102.890015     679000        gg
979 2018-11-23  1037.589966  1022.398987  ...  1023.880005     691500        gg
852 2018-05-24  1080.469971  1066.150024  ...  1079.239990     766800        gg
883 2018-07-10  1159.589966  1149.589966  ...  1152.839966     798400        gg
905 2018-08-09  1255.541992  1246.010010  ...  1249.099976     848600        gg
..         ...          ...          ...  ...          ...        ...       ...
23  2018-02-05    40.970001    39.000000  ...    39.122501  290954000      appl
22  2018-02-02    41.700001    40.025002  ...    40.125000  346375200      appl
212 2018-11-02    53.412498    51.357498  ...    51.869999  365314800      appl
245 2018-12-21    39.540001    37.407501  ...    37.682499  382978400      appl
182 2018-09-21    55.340000    54.322498  ...    54.415001  384986800      appl

[1255 rows x 7 columns]

Ex2 
---

In [25]:
covid = pd.read_csv('/content/drive/MyDrive/ML/Data Visualization/L4/data/covid19_cases.csv')
covid.head()

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  01/01/2020  ...                                                NaN
1  01/01/2020  ...                                                NaN
2  01/01/2020  ...                                                NaN
3  01/01/2020  ...                                                NaN
4  01/01/2020  ...                                                NaN

[5 rows x 12 columns]

In [27]:
#b, Create a date column using the data in the dateRep column and the pd.to_datetime() function.
covid['date'] = pd.to_datetime(covid['dateRep'])
covid.head()

      dateRep  ...       date
0  01/01/2020  ... 2020-01-01
1  01/01/2020  ... 2020-01-01
2  01/01/2020  ... 2020-01-01
3  01/01/2020  ... 2020-01-01
4  01/01/2020  ... 2020-01-01

[5 rows x 13 columns]

In [28]:
#c, set the date column as the index and sort the index
covid1 = covid.set_index('date')
covid1.sort_index()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
2020-12-09  12/09/2020  ...                                          14.913383
2020-12-09  12/09/2020  ...                                           0.078994
2020-12-09  12/09/2020  ...                                          16.812346
2020-12-09  12/09/2020  ...                                         168.644933
2020-12-09  12/09/2020  ...                                         933.120120

[43443 rows x 12 columns]

In [30]:
covid['countriesAndTerritories'].unique()

array(['Lithuania', 'Iceland', 'Nepal', 'San_Marino', 'Canada', 'Czechia',
       'Finland', 'Algeria', 'Belarus', 'Vietnam', 'India', 'Armenia',
       'Croatia', 'Cases_on_an_international_conveyance_Japan', 'China',
       'Taiwan', 'South_Korea', 'Kuwait', 'Denmark', 'France', 'Pakistan',
       'Mexico', 'Japan', 'Oman', 'Georgia', 'Germany', 'Ireland',
       'United_States_of_America', 'North_Macedonia', 'Spain', 'Belgium',
       'Norway', 'Monaco', 'Italy', 'Brazil', 'Iran', 'Singapore',
       'Egypt', 'Azerbaijan', 'Switzerland', 'Philippines', 'Estonia',
       'Israel', 'Romania', 'Greece', 'Lebanon', 'Iraq', 'Qatar',
       'Luxembourg', 'Afghanistan', 'Sweden', 'Indonesia', 'Austria',
       'Australia', 'Malaysia', 'Dominican_Republic', 'New_Zealand',
       'Bahrain', 'Sri_Lanka', 'Nigeria', 'Thailand', 'Cambodia',
       'Ecuador', 'Russia', 'United_Kingdom', 'United_Arab_Emirates',
       'Netherlands', 'Morocco', 'Andorra', 'Saudi_Arabia', 'Senegal',
       'Portugal', 'Sint_Maarten', 'Jordan', 'Tunisia', 'Latvia',
       'Poland', 'Ukraine', 'Chile', 'Argentina', 'Liechtenstein',
       'Hungary', 'Slovenia', 'South_Africa', 'Palestine',
       'Faroe_Islands', 'Bosnia_and_Herzegovina', 'Bhutan', 'Slovakia',
       'Holy_See', 'Cameroon', 'Costa_Rica', 'Togo', 'Peru', 'Serbia',
       'Malta', 'Colombia', 'Maldives', 'Bulgaria', 'Paraguay', 'Moldova',
       'Bangladesh', 'Albania', 'Panama', 'Mongolia', 'Brunei_Darussalam',
       'Cyprus', 'Democratic_Republic_of_the_Congo', 'Burkina_Faso',
       'Jamaica', 'Cote_dIvoire', 'Bolivia', 'Turkey', 'Cuba', 'Honduras',
       'Saint_Vincent_and_the_Grenadines', 'Ghana', 'Gabon',
       'Trinidad_and_Tobago', 'Aruba', 'Curaçao', 'Guyana', 'Guinea',
       'Sudan', 'Kenya', 'Kosovo', 'Ethiopia', 'Mauritania', 'Uruguay',
       'Equatorial_Guinea', 'Guatemala', 'Saint_Lucia',
       'Antigua_and_Barbuda', 'Kazakhstan', 'Suriname', 'Venezuela',
       'Rwanda', 'Namibia', 'Seychelles', 'Eswatini', 'Congo', 'Bahamas',
       'Uzbekistan', 'Central_African_Republic', 'Benin', 'Somalia',
       'Myanmar', 'United_Republic_of_Tanzania', 'Liberia', 'Gambia',
       'Barbados', 'Montenegro', 'Zambia', 'El_Salvador', 'Kyrgyzstan',
       'Nicaragua', 'Djibouti', 'Guam', 'French_Polynesia', 'Greenland',
       'Guernsey', 'Jersey', 'Haiti', 'Mauritius', 'Chad',
       'Cayman_Islands', 'Fiji', 'Bermuda', 'Gibraltar', 'Madagascar',
       'Isle_of_Man', 'Montserrat', 'Cape_Verde', 'New_Caledonia',
       'Niger', 'Papua_New_Guinea', 'Zimbabwe', 'Uganda', 'Angola',
       'Timor_Leste', 'Eritrea', 'Syria', 'Grenada', 'Dominica',
       'Mozambique', 'United_States_Virgin_Islands', 'Belize', 'Libya',
       'Laos', 'Turks_and_Caicos_islands', 'Mali',
       'Saint_Kitts_and_Nevis', 'Anguilla', 'Guinea_Bissau',
       'British_Virgin_Islands', 'Puerto_Rico',
       'Northern_Mariana_Islands', 'Sierra_Leone', 'Botswana', 'Burundi',
       'Bonaire, Saint Eustatius and Saba', 'Malawi',
       'Falkland_Islands_(Malvinas)', 'South_Sudan',
       'Sao_Tome_and_Principe', 'Yemen', 'Western_Sahara', 'Tajikistan',
       'Comoros', 'Lesotho'], dtype=object)

In [31]:
#d, replace 
covid1['countriesAndTerritories'] = covid1['countriesAndTerritories'].replace('United_States_of_America','USA')
covid1['countriesAndTerritories'] = covid1['countriesAndTerritories'].replace('United_Kingdom','UK')
covid['countriesAndTerritories'].unique()

array(['Lithuania', 'Iceland', 'Nepal', 'San_Marino', 'Canada', 'Czechia',
       'Finland', 'Algeria', 'Belarus', 'Vietnam', 'India', 'Armenia',
       'Croatia', 'Cases_on_an_international_conveyance_Japan', 'China',
       'Taiwan', 'South_Korea', 'Kuwait', 'Denmark', 'France', 'Pakistan',
       'Mexico', 'Japan', 'Oman', 'Georgia', 'Germany', 'Ireland',
       'United_States_of_America', 'North_Macedonia', 'Spain', 'Belgium',
       'Norway', 'Monaco', 'Italy', 'Brazil', 'Iran', 'Singapore',
       'Egypt', 'Azerbaijan', 'Switzerland', 'Philippines', 'Estonia',
       'Israel', 'Romania', 'Greece', 'Lebanon', 'Iraq', 'Qatar',
       'Luxembourg', 'Afghanistan', 'Sweden', 'Indonesia', 'Austria',
       'Australia', 'Malaysia', 'Dominican_Republic', 'New_Zealand',
       'Bahrain', 'Sri_Lanka', 'Nigeria', 'Thailand', 'Cambodia',
       'Ecuador', 'Russia', 'United_Kingdom', 'United_Arab_Emirates',
       'Netherlands', 'Morocco', 'Andorra', 'Saudi_Arabia', 'Senegal',
       'Portugal', 'Sint_Maarten', 'Jordan', 'Tunisia', 'Latvia',
       'Poland', 'Ukraine', 'Chile', 'Argentina', 'Liechtenstein',
       'Hungary', 'Slovenia', 'South_Africa', 'Palestine',
       'Faroe_Islands', 'Bosnia_and_Herzegovina', 'Bhutan', 'Slovakia',
       'Holy_See', 'Cameroon', 'Costa_Rica', 'Togo', 'Peru', 'Serbia',
       'Malta', 'Colombia', 'Maldives', 'Bulgaria', 'Paraguay', 'Moldova',
       'Bangladesh', 'Albania', 'Panama', 'Mongolia', 'Brunei_Darussalam',
       'Cyprus', 'Democratic_Republic_of_the_Congo', 'Burkina_Faso',
       'Jamaica', 'Cote_dIvoire', 'Bolivia', 'Turkey', 'Cuba', 'Honduras',
       'Saint_Vincent_and_the_Grenadines', 'Ghana', 'Gabon',
       'Trinidad_and_Tobago', 'Aruba', 'Curaçao', 'Guyana', 'Guinea',
       'Sudan', 'Kenya', 'Kosovo', 'Ethiopia', 'Mauritania', 'Uruguay',
       'Equatorial_Guinea', 'Guatemala', 'Saint_Lucia',
       'Antigua_and_Barbuda', 'Kazakhstan', 'Suriname', 'Venezuela',
       'Rwanda', 'Namibia', 'Seychelles', 'Eswatini', 'Congo', 'Bahamas',
       'Uzbekistan', 'Central_African_Republic', 'Benin', 'Somalia',
       'Myanmar', 'United_Republic_of_Tanzania', 'Liberia', 'Gambia',
       'Barbados', 'Montenegro', 'Zambia', 'El_Salvador', 'Kyrgyzstan',
       'Nicaragua', 'Djibouti', 'Guam', 'French_Polynesia', 'Greenland',
       'Guernsey', 'Jersey', 'Haiti', 'Mauritius', 'Chad',
       'Cayman_Islands', 'Fiji', 'Bermuda', 'Gibraltar', 'Madagascar',
       'Isle_of_Man', 'Montserrat', 'Cape_Verde', 'New_Caledonia',
       'Niger', 'Papua_New_Guinea', 'Zimbabwe', 'Uganda', 'Angola',
       'Timor_Leste', 'Eritrea', 'Syria', 'Grenada', 'Dominica',
       'Mozambique', 'United_States_Virgin_Islands', 'Belize', 'Libya',
       'Laos', 'Turks_and_Caicos_islands', 'Mali',
       'Saint_Kitts_and_Nevis', 'Anguilla', 'Guinea_Bissau',
       'British_Virgin_Islands', 'Puerto_Rico',
       'Northern_Mariana_Islands', 'Sierra_Leone', 'Botswana', 'Burundi',
       'Bonaire, Saint Eustatius and Saba', 'Malawi',
       'Falkland_Islands_(Malvinas)', 'South_Sudan',
       'Sao_Tome_and_Principe', 'Yemen', 'Western_Sahara', 'Tajikistan',
       'Comoros', 'Lesotho'], dtype=object)

In [32]:
#e 
covid1['countriesAndTerritories'].unique()

array(['Lithuania', 'Iceland', 'Nepal', 'San_Marino', 'Canada', 'Czechia',
       'Finland', 'Algeria', 'Belarus', 'Vietnam', 'India', 'Armenia',
       'Croatia', 'Cases_on_an_international_conveyance_Japan', 'China',
       'Taiwan', 'South_Korea', 'Kuwait', 'Denmark', 'France', 'Pakistan',
       'Mexico', 'Japan', 'Oman', 'Georgia', 'Germany', 'Ireland', 'USA',
       'North_Macedonia', 'Spain', 'Belgium', 'Norway', 'Monaco', 'Italy',
       'Brazil', 'Iran', 'Singapore', 'Egypt', 'Azerbaijan',
       'Switzerland', 'Philippines', 'Estonia', 'Israel', 'Romania',
       'Greece', 'Lebanon', 'Iraq', 'Qatar', 'Luxembourg', 'Afghanistan',
       'Sweden', 'Indonesia', 'Austria', 'Australia', 'Malaysia',
       'Dominican_Republic', 'New_Zealand', 'Bahrain', 'Sri_Lanka',
       'Nigeria', 'Thailand', 'Cambodia', 'Ecuador', 'Russia', 'UK',
       'United_Arab_Emirates', 'Netherlands', 'Morocco', 'Andorra',
       'Saudi_Arabia', 'Senegal', 'Portugal', 'Sint_Maarten', 'Jordan',
       'Tunisia', 'Latvia', 'Poland', 'Ukraine', 'Chile', 'Argentina',
       'Liechtenstein', 'Hungary', 'Slovenia', 'South_Africa',
       'Palestine', 'Faroe_Islands', 'Bosnia_and_Herzegovina', 'Bhutan',
       'Slovakia', 'Holy_See', 'Cameroon', 'Costa_Rica', 'Togo', 'Peru',
       'Serbia', 'Malta', 'Colombia', 'Maldives', 'Bulgaria', 'Paraguay',
       'Moldova', 'Bangladesh', 'Albania', 'Panama', 'Mongolia',
       'Brunei_Darussalam', 'Cyprus', 'Democratic_Republic_of_the_Congo',
       'Burkina_Faso', 'Jamaica', 'Cote_dIvoire', 'Bolivia', 'Turkey',
       'Cuba', 'Honduras', 'Saint_Vincent_and_the_Grenadines', 'Ghana',
       'Gabon', 'Trinidad_and_Tobago', 'Aruba', 'Curaçao', 'Guyana',
       'Guinea', 'Sudan', 'Kenya', 'Kosovo', 'Ethiopia', 'Mauritania',
       'Uruguay', 'Equatorial_Guinea', 'Guatemala', 'Saint_Lucia',
       'Antigua_and_Barbuda', 'Kazakhstan', 'Suriname', 'Venezuela',
       'Rwanda', 'Namibia', 'Seychelles', 'Eswatini', 'Congo', 'Bahamas',
       'Uzbekistan', 'Central_African_Republic', 'Benin', 'Somalia',
       'Myanmar', 'United_Republic_of_Tanzania', 'Liberia', 'Gambia',
       'Barbados', 'Montenegro', 'Zambia', 'El_Salvador', 'Kyrgyzstan',
       'Nicaragua', 'Djibouti', 'Guam', 'French_Polynesia', 'Greenland',
       'Guernsey', 'Jersey', 'Haiti', 'Mauritius', 'Chad',
       'Cayman_Islands', 'Fiji', 'Bermuda', 'Gibraltar', 'Madagascar',
       'Isle_of_Man', 'Montserrat', 'Cape_Verde', 'New_Caledonia',
       'Niger', 'Papua_New_Guinea', 'Zimbabwe', 'Uganda', 'Angola',
       'Timor_Leste', 'Eritrea', 'Syria', 'Grenada', 'Dominica',
       'Mozambique', 'United_States_Virgin_Islands', 'Belize', 'Libya',
       'Laos', 'Turks_and_Caicos_islands', 'Mali',
       'Saint_Kitts_and_Nevis', 'Anguilla', 'Guinea_Bissau',
       'British_Virgin_Islands', 'Puerto_Rico',
       'Northern_Mariana_Islands', 'Sierra_Leone', 'Botswana', 'Burundi',
       'Bonaire, Saint Eustatius and Saba', 'Malawi',
       'Falkland_Islands_(Malvinas)', 'South_Sudan',
       'Sao_Tome_and_Principe', 'Yemen', 'Western_Sahara', 'Tajikistan',
       'Comoros', 'Lesotho'], dtype=object)

In [33]:
c = ['Argentina', 'Brazil', 'China', 'Colombia', 'India', 'Italy',
     'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey','UK', 'USA']

In [34]:
covid2 = covid[covid['countriesAndTerritories'].isin(c)]
covid2.head()

       dateRep  ...       date
10  01/01/2020  ... 2020-01-01
14  01/01/2020  ... 2020-01-01
21  01/01/2020  ... 2020-01-01
29  01/01/2020  ... 2020-01-01
33  01/01/2020  ... 2020-01-01

[5 rows x 13 columns]

In [35]:
covid2['countriesAndTerritories'].unique()

array(['India', 'China', 'Mexico', 'Spain', 'Italy', 'Brazil', 'Russia',
       'Argentina', 'Peru', 'Colombia', 'Turkey'], dtype=object)

In [36]:
covid2 = covid2.set_index('date')
covid2.sort_index()
covid2.tail()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-09-18  18/09/2020  ...                                         334.608623
2020-09-18  18/09/2020  ...                                           0.021482
2020-09-18  18/09/2020  ...                                         203.361408
2020-09-18  18/09/2020  ...                                          33.321987
2020-09-18  18/09/2020  ...                                         300.510940

[5 rows x 12 columns]

In [38]:
#f 
covid4 = covid[covid['countriesAndTerritories'].isin(c)]
pivot_covid4 = covid4.pivot(index='date', columns='countriesAndTerritories',
                            values= 'cases')
pivot_covid4.head()

countriesAndTerritories  Argentina  Brazil   China  ...  Russia   Spain  Turkey
date                                                ...
2020-01-01                     NaN     0.0     0.0  ...     0.0     0.0     NaN
2020-01-02                     NaN     0.0  2095.0  ...     2.0     1.0     NaN
2020-01-03                     NaN     1.0   574.0  ...     0.0    28.0     NaN
2020-01-04                     0.0  1138.0    54.0  ...   501.0  7413.0  2704.0
2020-01-05                   143.0  7218.0    12.0  ...  7099.0  1387.0  2615.0

[5 rows x 11 columns]

In [39]:
pivot_covid4.fillna(0)

countriesAndTerritories  Argentina   Brazil   China  ...   Russia   Spain  Turkey
date                                                 ...
2020-01-01                     0.0      0.0     0.0  ...      0.0     0.0     0.0
2020-01-02                     0.0      0.0  2095.0  ...      2.0     1.0     0.0
2020-01-03                     0.0      1.0   574.0  ...      0.0    28.0     0.0
2020-01-04                     0.0   1138.0    54.0  ...    501.0  7413.0  2704.0
2020-01-05                   143.0   7218.0    12.0  ...   7099.0  1387.0  2615.0
...                            ...      ...     ...  ...      ...     ...     ...
2020-12-05                   245.0   5632.0     1.0  ...  11656.0   482.0  1114.0
2020-12-06                  1373.0  30412.0     7.0  ...   8779.0   502.0   987.0
2020-12-07                  3367.0  39023.0    35.0  ...   6611.0     0.0  1016.0
2020-12-08                  7369.0  52160.0    58.0  ...   4945.0  3172.0  1183.0
2020-12-09                 11905.0  43718.0    18.0  ...   5504.0     0.0  1671.0

[262 rows x 11 columns]

In [40]:
%cd /content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization

/content/drive/MyDrive/ML/Data Visualization/Data-Preparation-and-Visualization

In [ ]:
!git status